<script>
	import TodoList from './TodoList.svelte'
	import store from '../store.js'
	
	const { subscribe, action } = store
	
	let todosState = undefined
	let todosData = []
	let todosError = undefined

	subscribe(store => {
		todosState = store.todos.currentState
		todosData = store.todos.data
		todosError = store.todos.error
		
	})
	
</script>

<button on:click={action.loadTodos}>Get Todos</button>
<button on:click={action.resetTodos}>Reset Todos</button>


<div class="title">
	Todos {todosState}
</div>

{#if todosState === undefined} 
	<p>Not yet loaded</p>
{:else if todosState === 'loading'}
	<p>loading</p>
{:else if todosState === 'loaded'}
	<TodoList todos={todosData} />
{:else if todosState === 'error'}
  <p class="error">{todosError.message}</p>
{/if}

<style>
	.error {
		color: darkred;
	}
</style>




