<script>
	export let todos = []
</script>

<div class="list">
	{#each todos as todo} 
		<div class="item">{todo.title}</div>
	{/each}
</div>

<style>
	.list {
		display: grid;
		grid-gap: 1rem;
	}
	
	.item {
		padding: 0.5rem;
		background: #eee;
	}
</style>